.flowers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
    background: none!important;
    padding: 0px!important;
}

.flower-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4px;
    background: white;
    border-radius: 8px;
    padding: 12px 16px;

    user-select: none;

    h4 {
        grid-column: 1 / span 2;
        text-align: center;
    }
    form {
        grid-column: 1 / span 2;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    b {
        text-align: right;
    }
}

label[for=upload] {
    cursor: pointer;
    button {
        touch-action: none;
        pointer-events: none;
        width: 100%;
        margin-bottom: 0;
    }
    input[type=file] {
        display: none;
    }
}